
.Article_list{

    color: hotpink;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto;
}
.header{

    color: blueviolet;
}

.link{
text-decoration-line: underline;
  text-decoration-color: green;
}

.Sortby{
    border: 1px solid rgb(136, 19, 19);
    font-size: large;
    text-align: center;
    vertical-align: baseline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: black;
}

.sortbutton{

    background-color: #7c8ac8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px
}

