* {
    padding: 2;
    margin: 2;
    box-sizing: border-box;
    font-family: 'Arial';
    color: hotpink;
    background-color: black;
  }

  .Nav{
    display: block;
  padding: 4px;
  color:hotpink;
  background-color: black;
  }

  .img{
    display: inline-block;
    width: 40%;
    max-width: 50%;
    padding: 4px;
    vertical-align: -1em;
    
}

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid hotpink;
    text-align: center;
    vertical-align: baseline;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
    background-color: black

  }


    li {
      display: inline-block;
      font-size: 20px;
      padding: 20px;
      color: hotpink;
    }
  


  
  li a:hover {
    background-color: peachpuff;
  }