
* {
    padding: 2;
    margin: 2;
    box-sizing: border-box;
    font-family: 'Arial';
  }
  
  .main{

    color: hotpink;
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto;
    text-align:center;
    padding: 2rem;
    margin: 1rem;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
  height: auto;
    border-radius: 8px;
}

.header{

    text-decoration: underline;
    margin-bottom: 40px;
}

.Comment_list{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
height: auto;
  border-radius: 8px;

}

.upvote{
  width: 10%;
  background-color: #c74fb9; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px
}

.downvote{
  width: 10%;
  background-color: black;
  border: none;
  color:pink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px
}

